@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html{
  height: 100%;
}

body {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Comfortaa', cursive;
}

.form {
  width: 50%;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  max-width: 400px;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #4b6cb7;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:active {
  background: #395591;
}

.form span {
  font-size: 40px;
  color: #4b6cb7;
}

/* Tela Curso */
.max-wd{
  max-width: 500px !important;
}

/* Cadastro Curso*/
.form textarea{
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* Tela Inicial */
.wd-100{
  max-width: 500px !important;
}

#listar-cursos{
  margin-top: 1rem;
}

.bar-blue{
  display: flex;
  justify-content: space-between;
}

.flex-item{
  margin: 5px;
  text-align: center;
}

/* Tela Apresentacao */
.container-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-wd{
  width: 150px !important;
}