<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro Curso</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <span class="material-icons">Cadastro Curso</span>
            <input id="nome" type="text" placeholder="Nome" required/>
            <input id="valor" type="text" placeholder="Valor" required/>
            <textarea id="descricao" type="text" placeholder="Descrição" name="" id="" cols="45" rows="10" required></textarea>
            <button onclick="cadastrarCurso()">Cadastrar Curso</button>
        </div>
      </div>
      <script>
        function cadastrarCurso(){
          const formData = new FormData();

          let nome = document.querySelector("#nome").value;
          let valor = document.querySelector("#valor").value;
          let descricao = document.querySelector("#descricao").value;

          formData.append("nome", nome);
          formData.append("valor", valor);
          formData.append("descricao", descricao);

          axios.post("cursos/criarCurso", formData).then(res => {
            console.log(res);
            console.log(res.data);
          });
        }
      </script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>