<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="form wd-100">
            <span class="material-icons">Dashboard</span>
            <div class="bar-blue">
                <button class="flex-item" onclick="openTab('Todos')">Todos os Cursos</button>
                <button class="flex-item" onclick="openTab('Meus')">Meus Cursos</button> 
            </div>
            <div id="Todos" class="w3-container tab" style="display: none;">
                <h2>Todos os Cursos</h2>
                <table style="width: 100%" id="tabela">
                    <tr>
                        <th>Nome</th>
                        <th>Preço (R$)</th>
                        <th>Descrição</th>
                        <th>Comprar Curso</th> 
                    </tr>
                    
                </table>
            </div>
            <div id="Meus" class="w3-container tab" style="display: none;">
                <h2>Meus Cursos</h2>
                <table style="width: 500px;">
                    <tr>
                        <th>Curso</th>
                        <th>Professor</th>
                        <th>Ver Mais</th>
                    </tr>
                    <tr>
                        <td>Modern JavaScript From The Beginning</td>
                        <td>Bruno Jorge Nogueira Batista</td>
                        <td><a href="">Acessar Aulas</a></td>
                    </tr>
                </table>
            </div> 
            <div class="container-row">
                <button class="btn-wd" onclick="sair()">Sair</button>
                <button class="btn-wd" onclick="listarCursos()">Listar Cursos</button>
            </div>
        </div>
      </div>
    <script>
        function sair(){
            window.location = "/";   
        }

        function openTab(tab) {
          var i;
          var x = document.getElementsByClassName("tab");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          document.getElementById(tab).style.display = "block";  
        }

        function listarCursos(){
          axios.get("cursos/listar").then(res => {
            let cursos = res.data.body;
            let i = 0;
            let trNome

            cursos.map(function (curso){
                
                var tr = document.createElement("tr");
                trNome = "tr-curso" + i;
                tr.id = trNome;
                var td_nome = document.createElement("td");
                var td_valor = document.createElement("td");
                var td_descricao = document.createElement("td");
                var td_mais = document.createElement("td");
                tdNome = "td-curso" + i
                td_mais.id = tdNome;
                var a_mais = document.createElement("a");
               


                td_nome.innerHTML = curso.curso_nome;
                td_valor.innerHTML = curso.curso_valor;
                td_descricao.innerHTML = curso.curso_descricao;
                a_mais.innerHTML = "Comprar";

                a_mais.href = "/TelaApresentacao" + "/id=" + curso.curso_id;

                document.querySelector("#tabela").appendChild(tr);
                document.querySelector("#" + trNome).appendChild(td_nome);
                document.querySelector("#" + trNome).appendChild(td_valor);
                document.querySelector("#" + trNome).appendChild(td_descricao);
                document.querySelector("#" + trNome).appendChild(td_mais);
                document.querySelector("#" + tdNome).appendChild(a_mais);

                i++;
            });
          });

        }
     </script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>