<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Apresentação Curso</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <span class="material-icons">Apresentação do Curso</span>
            <p>Modern JavaScript From The Beginning</p>
            <p>Criado por:<strong> Bruno Jorge Nogueira Batista</strong></p>
            <p>R$199.99</p>
            <textarea   name="" id="" cols="25" rows="7" disabled>Learn and build projects with pure JavaScript (No frameworks or libraries)</textarea>
            <div class="container-row">
              <button class="btn-wd" onclick="sair()">Voltar Dashboard</button>
              <button class="btn-wd">Comprar Curso</button>
            </div>
        </div>
      </div>
      <script>
        function sair(){
            window.location = "/TelaInicial";   
        }
        function listarCursos(){
          var url = window.location.pathname;
          var id = url.substring(url.lastIndexOf('/') + 1);
          axios.get("cursos/" + id).then(res => {
            let cursos = res.data.body;
            console.log(cursos + "aa");
            
          });

        }
        document.addEventListener('DOMContentLoaded', function() {
          listarCursos();
        }, false);
      </script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>