<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro Usuario</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <span class="material-icons">Cadastro Usuario</span>
            <input id="cpf" name="cpf" type="text" placeholder="cpf" required/>
            <input id="nome" name="nome" type="text" placeholder="nome" required/>
            <input id="login" name="login" type="text" placeholder="login"  required/>
            <input id="senha" name="senha" type="password" placeholder="senha" required />
            <input id="email" name="email" type="text" placeholder="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
            <input id="telefone" name="telefone" type="text" placeholder="telefone" required/>
            <button onclick="criarUsuario()">Criar Conta</button>
        </div>
      </div>
      <script>
        function criarUsuario(){
          const formData = new FormData();
          let cpf = document.querySelector("#cpf").value;
          let nome = document.querySelector("#nome").value;
          let login = document.querySelector("#login").value;
          let senha = document.querySelector("#senha").value;
          let email = document.querySelector("#email").value;
          let telefone = document.querySelector("#telefone").value;
          

          formData.append("cpf", cpf);
          formData.append("nome", nome);
          formData.append("login", login);
          formData.append("senha", senha);
          formData.append("email", email);
          formData.append("telefone", telefone);

          axios.post("http://localhost:3001/usuarios/cadastro", formData).then(res => {
                alert(`${res?.data?.msg|| 'Usuário cadastrado com sucesso'} `)
          }).catch((error) => {
              alert(`Erro: ${error?.response?.data?.msg || 'Ocorreu um erro ao cadastrar o usuário'}` )
          });
        }
      </script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>