<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Aulas</title>
</head>
<body>
    <div class="container">
        <div class="form max-wd">
          <div class="login-form">
            <span class="material-icons">Modern JavaScript From The Beginning</span>
            <div class="bar-blue">
                <button class="flex-item" onclick="openTab('Aula1')">Aula 1</button>
                <button class="flex-item" onclick="openTab('Aula2')">Aula 2</button>
                <button class="flex-item" onclick="openTab('Aula3')">Aula 3</button>
            </div>
            <div id="Aula1" class="w3-container tab" style="display: none;">
                <h2>Aula 1</h2>
                <iframe src="https://www.youtube.com/embed/Ptbk2af68e8" frameborder="0" height="300" width="500"></iframe>
            </div>
            <div id="Aula2" class="w3-container tab" style="display: none;">
                <h2>Aula 2</h2>
                <iframe src="https://www.youtube.com/embed/rUTKomc2gG8" frameborder="0" height="300" width="500"></iframe>
            </div>
            <div id="Aula3" class="w3-container tab" style="display: none;">
                <h2>Aula 3</h2>
                <iframe src="https://www.youtube.com/embed/FdePtO5JSd0" frameborder="0" height="300" width="500"></iframe>
            </div>
            <button>Voltar a Dashboard</button>
          </div>  
        </div>
      </div>
      <script>
        function openTab(tab) {
          var i;
          var x = document.getElementsByClassName("tab");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          document.getElementById(tab).style.display = "block";  
        }
     </script>
</body>
</html>