<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Apresentação Curso</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <span class="material-icons">Apresentação do Curso</span>
            <p id="curso-nome"></p>
            <h2>Preço: </h2><h2 id="curso-preco"></h2>
            <textarea name="" id="curso-descricao" cols="25" rows="7" disabled></textarea>
            <div class="container-row">
              <button class="btn-wd" onclick="sair()">Voltar Dashboard</button>
              <button class="btn-wd">Comprar Curso</button>
            </div>
        </div>
      </div>
      <script>
        function sair(){
            window.location = "/TelaInicial";   
        }
        function listaCurso(){
          var url = window.location.pathname;
          var id = url.substring(url.lastIndexOf('/') + 4);
          axios.get("http://localhost:3000/cursos/" + id).then(res => {
            let curso = res.data.body;
            curso = Object.values(curso);
            console.log(curso);
           
            document.querySelector("#curso-nome").innerHTML = curso[1];
            document.querySelector("#curso-descricao").innerHTML = curso[2];
            document.querySelector("#curso-preco").innerHTML = curso[3];
            
          });
        }

        document.addEventListener('DOMContentLoaded', function() {
          listaCurso();
        }, false);
      </script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>