extends layout

block content
  body 
  #container.center.d-flex
    form(action="", method="POST")
           label login
           input(type='text', name='login', value='')
           label senha
           input(type='text', name='password', value='')
           input(type='submit', value='Entrar')
    
  <!-- h1= title -->
  <!-- p Welcome to #{title} -->


